body{
	background-color: black;

}

h1{
	color: yellow;
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: max(2vw, 7vw);
	margin: 0 auto;
}

figure{
	text-align: center;
}

div{
	display:flex; 
	justify-content:center;
}

/*img{
	border-top-left-radius:25px; 
	border:1px solid yellow;
	width:100%;
	height:auto;
}*/

#spring_img{
	border-top-left-radius:25px; 
	border:1px solid yellow;
	width:100%;
	height:auto;
}

#summer_img{
	border-top-right-radius:25px; 
	border:1px solid yellow;
	width:100%;
	height:auto;
}

#fall_img{
	border-bottom-left-radius:25px; 
	border:1px solid yellow;
	width:100%;
	height:auto;
}

#winter_img{
	border-bottom-right-radius:25px; 
	border:1px solid yellow;
	width:100%;
	height:auto;
}

figcaption{
	color:white; 
	font-size: 1.5em;
}

hr{
	width:75%; 
	margin-top:20px;
}

footer{
	font-size:.8em; 
	color:silver;
	text-align:center; 
	top-padding:10px;
}

#footer_img{
	width:100px;
}

#summer_img:hover{
	height: 100%;
	width: 100%;
}
#fall_img:hover{
	height: 100%;
	width: 100%;
}
#winter_img:hover{
	height: 100%;
	width: 100%;
}
#spring_img:hover{
	height: 100%;
	width: 100%;
}

figcaption:active{
	font-size: 3vw;
}

/*img .images:hover{
	height: 50%;
	width: 50%;
}*/
