h1{
	font-size: 8vw;
	border-top: 10px solid grey;
	text-align: center;
	background-color: rgb(18, 24, 87);
	color: white;
	width: 80%;
	margin: 0 auto;
	padding: 30px;
}

p{
/*	font-size: 3vw;
	color: yellow;
	text-align: right;
	width: 80%;
	margin: 0 auto;
	background-color: rgb(80, 121, 217);
	padding: 30px;
	height: 50px;*/
}

h3{
	font-size: 3vw;
	color: yellow;
	text-align: right;
	width: 80%;
	margin: 0 auto;
	background-color: rgb(80, 121, 217);
	padding: 30px;
	height: 50px;
}

body{
	text-align: center;
/*	border-bottom: 30px black;*/
/*	background-color: rgb(148, 147, 65);*/
	width: 80%;
	margin: 0 auto;
}

img{
	width: 70%;
	height: auto;
	border-radius: 30px;
	margin: 0 auto;
/*	border-radius: 30px;*/
}

main{
	width: 80%;
	margin: 0 auto;
	background-color: rgb(148, 147, 65);
}

figure{
	background-color: rgb(148, 147, 65);
	width: 80%;
	text-align: center;
}

footer{
	text-align: center;
	color: white;
}

#foot{
	text-align: center;
	background-color: grey;
	color: black;
}



